/images/
/TEST/
*.pyc
*__pycache__
*.DS_Store
.idea
ccli.csv
ccli_license_number.txt
genius_token.txt
/Scripts/build/
/Scripts/dist/
/Scripts/new_powerpoint_maker.spec
*~$*.pptx
/.venv
*.spec
/build
/dist